[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-colors-solarize"]
	path = vim/bundle/vim-colors-solarize
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-vroom"]
	path = vim/bundle/vim-vroom
	url = http://github.com/skalnik/vim-vroom.git
[submodule "vim/bundle/vim-clojure"]
	path = vim/bundle/vim-clojure
	url = http://github.com/kotarak/vimclojure.git
